<div class='icon '{{ file['type'] }}>
    <br><br>
    <a href= "?action=download&fileId={{ file['id'] }}"  class="download clickable"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    <a href="#" class="show download clickable"><i class="fa fa-search" aria-hidden="true"></i></a>
    <button class="replace clickable">replace</button>
    <button class="rename clickable">rename</button>
    <i class="fa fa-trash delete clickable" aria-hidden="true"></i>

    <span class="name">
        <input type="number" name="notForUser" class="notForUser" value="{{ file['id'] }}">
        {{ file['name'] }}<span class="extFile">.{{ file['type'] }}</span>
    </span>

    <form class="replaceForm toHide" action="?action=replace" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <input type="number" name="notForUser" class="notForUser" value="{{ file['id'] }}">
        <input type="submit" class="button">
    </form>

    <form class="renameForm toHide" action="?action=rename" method="post">
        <label for="name{{ numberForId }}" >name : </label>
        <input type="number" name="notForUser" class="notForUser" value="{{ file['id'] }}">
        <input type="text" name="name" placeholder="type here the name of your file" id="name{{ numberForId }}"><br>
        <input type="submit" class="button">
    </form>


    <form class="deleteForm toHide" action="?action=remove" method="post">
        <input type="number" name="notForUser" class="notForUser" value="{{ file['id'] }}">
        <p>WARNING : ARE YOU SURE YOU WANT TO DELETE THIS FILE? THIS CAN'T BE UNDONE!</p>
        <input type="submit" class="button">
    </form>
</div>