<div class="row file" id="{{ file['id'] }}">
    <div class="col-1">
        <p><i class="fa fa-file"></i> .{{ file['type'] }}</p>
    </div>
    <div class="col-2">
        <p>{{ file['name']|slice(start,21) }}</p>
    </div>
    <div class="col-2">
        <p class="fileSize">{{ file['filesize'] }}</p>
    </div>
    <div class="col-2">
        <p>{{ file['date'] }}</p>
    </div>
    <div class="col-5 options">
        <ul>
            <li>
                <a href= "?action=remove&fileId={{ file['id'] }}"  class="delete clickable" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash" title="delete file"></i>
                </a>
            </li>
            <li>
                <form class="renameForm collapsed" action="?action=rename" method="post">
                    <input type="hidden" name="notForUser" class="notForUser" value="{{ file['id'] }}">
                    <input class="rename_input " type="text" name="name" placeholder="type the new name" id="name{{ numberForId }}">
                    <input id="submit_rename{{ file['id'] }}" type="submit" class="toHide">
                    <label for="submit_rename{{ file['id'] }}">
                    </label>
                </form>
                <label for="name{{ file['id'] }}" class="rename clickable" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-pencil" title="rename file"></i>
                </label>
            </li>
            <li>
                <form class="replaceForm collapsed" action="?action=replace" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileFormReplace{{ file['id'] }}" data-multiple-caption="{count} files selected" class="toHide">
                    <label for="fileFormReplace{{ file['id'] }}" class="label_choose_file">
                    </label>
                    <input type="hidden" name="notForUser" class="notForUser" value="{{ file['id'] }}">
                    <input id="submit_replace{{ file['id'] }}" type="submit" class="toHide">
                    <label for="submit_replace{{ file['id'] }}" class="label_confirm">
                    </label>
                </form>
                <label class="replace clickable ">
                    <i class="fa fa-exchange" title="replace file"></i>
                </label>

            </li>
            <li>
                <a href= "?action=download&fileId={{ file['id'] }}"  class="download clickable">
                    <i class="fa fa-download" title="download file"></i>
                </a>
            </li>
            <li>
                <a href= "?action=show&id={{ file['id'] }}"  class="show clickable">
                    <i class="fa fa-search" title="show file"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
