<!--<div class='icon '{{ file['type'] }}>
    <br><br>
    <a href= "?action=download&fileId={{ file['id'] }}"  class="download clickable"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    <a href="#" class="show download clickable"><i class="fa fa-search" aria-hidden="true"></i></a>
    <button class="replace clickable">replace</button>
    <button class="rename clickable">rename</button>
    <i class="fa fa-trash delete clickable" aria-hidden="true"></i>

    <span class="name">
        <input type="number" name="notForUser" class="notForUser" value="{{ file['id'] }}">
        {{ file['name'] }}<span class="extFile">.{{ file['type'] }}</span>
    </span>



</div>-->

<div class="row">
    <div class="col-2">
        <p><i class="fa fa-file"></i> .{{ file['type'] }}</p>
    </div>
    <div class="col-3">
        <p>{{ file['name'] }}</p>
    </div>
    <div class="col-1">
        <p>5 Mo</p>
    </div>
    <div class="col-6 options">
        <ul>
            <li>
                <a href= "?action=remove&fileId={{ file['id'] }}"  class="delete clickable">
                    <i class="fa fa-trash" title="delete file"></i>
                </a>
            </li>
            <li>
                <form class="renameForm collapsed" action="?action=rename" method="post">
                    <input type="hidden" name="notForUser" class="notForUser" value="{{ file['id'] }}">
                    <input class="rename_input " type="text" name="name" placeholder="type the new name" id="name{{ numberForId }}">
                    <input id="submit_rename{{ numberForId }}" type="submit" class="toHide">
                    <label for="submit_rename{{ numberForId }}">
                    </label>
                </form>
                <label for="name{{ numberForId }}" class="rename clickable">
                    <i class="fa fa-pencil" title="rename file"></i>
                </label>
            </li>
            <li>
                <form class="replaceForm collapsed" action="?action=replace" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileFormReplace{{ numberForId }}" class="toHide">
                    <label for="fileFormReplace{{ numberForId }}" class="label_choose_file">
                    </label>
                    <input type="hidden" name="notForUser" class="notForUser" value="{{ file['id'] }}">
                    <input id="submit_replace{{ numberForId }}" type="submit" class="toHide">
                    <label for="submit_replace{{ numberForId }}" class="label_confirm">
                    </label>
                </form>
                <label class="replace clickable">
                    <i class="fa fa-exchange" title="replace file"></i>
                </label>
            </li>
            <li>
                <a href= "?action=download&fileId={{ file['id'] }}"  class="download clickable">
                    <i class="fa fa-download" title="download file"></i>
                </a>
            </li>
            <li>
                <a href= "?action=show&id={{ file['id'] }}"  class="show clickable">
                    <i class="fa fa-search" title="show file"></i>
                </a>
            </li>
        </ul>
    </div>
</div>